:root {
    --light: #FBE6D6;
    --tomato: tomato;
    --pink: #E9C8C3;
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-image: linear-gradient(var(--pink),white);
    }
    .back {
        position: absolute;
        margin-top: -40vh;
        width: 30px;
        height: 30px;
        margin-left: -40vw;
    }
    .buybox {
        position: absolute;
        margin-top: -40vh;
        width: 30px;
        height: 30px;
        margin-left: 40vw;
    }
    #badge {
        background-color: var(--tomato);
        color: white;
        position: absolute;
        width: 5vw;
        height: 5vw;
        border-radius: 30px;
        margin-left: 42vw;
        margin-top: -38vh;
        text-align: center;
    }
    #title {
        position: absolute;
        color: tomato;
        font-size: 18vw;
        margin-top: -40vh;
        opacity: 0.75;
    }
    #box {
        width: 60vw;
        height: 80vh;
        background-image: linear-gradient(rgba(226,203,199,0) 20%,var(--light) 70%);
        border-radius: 50px;
    }
    .board {
        border-radius: 50%;
        background-image: url(./img/board.jpeg);
        background-size: cover;
        border: 1px solid black;
        position: absolute;
    }
    #board-m {
        width: 60vw;
        height: 60vw;
        margin-left: 0vw;
        margin-top: 10vw;
    }
    #board-p, #board-n {
        width: 20vw;
        height: 20vw;
    }
    #board-p {
        margin-left: 45vw;
    }
    #board-n {
        margin-left: -45vw;
        overflow: hidden;
    }
    .pizza {
        background-size: cover;
        border-radius: 50%;
        position: absolute;
    }
    #pizza-2 {
        width: 55vw;
        height: 55vw;
        margin-top: -17.5vh;
        background-image: url(./img/pizza/delcapo.png);
        z-index: 1;
    }
    #pizza-1, #pizza-3 {
        width: 17vw;
        height: 17vw;
        z-index: 1;
    }
    #pizza-1 {
        margin-left: -45vw;
        background-image: url(./img/pizza/margarita.png);
    }
    #pizza-3 {
        margin-left: 45vw;
        background-image: url(./img/pizza/miracle.png);
        
    }
    #pizza-4 {
        background-image: url(./img/pizza/indiana.png);
        z-index: 1;
    }
    #pizza-5 {
        background-image: url(./img/pizza/royal.png);
        z-index: 1;
    }
    #container {
        width: 50vw;
        position: absolute;
        margin-top: 40vh;
        margin-left: 5vw;
    }
    #price {
        margin-left: 60%;
    }
    #pizzaIng {
        margin-top: 5vh;
    }
    #starbox {
        width: 45vw;
        position: absolute;
        margin-top: 2vh;
        margin-left: 5vw;
        height: 30px;
    }
    .stars {
        width: 30px;
        height: 30px;
        fill: var(--tomato);
    }
    #buy {
        position: absolute;
        margin-top: 40vh;
        background-color: var(--tomato);
        opacity: 0.5;
        width: 60vw;
        height: 11vh;
        z-index: -1;
        border-radius: 0px 0px 50px 50px;

    }
    #addbutton {
        height: 25px;
        background-color: white;
        margin-right: 5vw;
        border-radius: 20px;
        z-index: 11;
        margin-top: 6.5vh;
        margin-left: 16vw;
    }
    #addbuttonanim {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -8vw;
        margin-top: 35vh;
        z-index: 10;
        opacity: 0;
    }
    #count {

        font-size: 55px;
        height: 100px;
        margin-top: 6vh;
        translate: middle;
    }
    .addto {
        width: 30px;
        height: 30px;
    }
    #clicknext {
        width: 17vw;
        height: 17vw;
        border-radius: 50%;
        position: absolute;
        margin-left: 45vw;
        background-color: red;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
    }
    #clickprevious {
        width: 17vw;
        height: 17vw;
        border-radius: 50%;
        position: absolute;
        margin-left: -45vw;
        background-color: red;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
    }

    form {
        margin-left: -8vw;
        margin-top: 40vh;
        position: absolute;
        z-index: 1;
    }
    
    @keyframes turntomain {
        0% {
            width: 17vw;
            height: 17vw;
            margin-left: 45vw;
            margin-top: 0;
        }
        100% {
            width: 55vw;
            height: 55vw;
            margin-left: 0;
            margin-top: -17.5vh;
            rotate: 360deg;
        }
    }
    @keyframes turntomainPr {
        0% {
            width: 17vw;
            height: 17vw;
            margin-left: -45vw;
            margin-top: 0;
        }
        100% {
            width: 55vw;
            height: 55vw;
            margin-left: 0;
            margin-top: -17.5vh;
        }
    }
    @keyframes turntopast {
        0% {
            width: 55vw;
            height: 55vw;
            margin-left: 0;
            margin-top: -17.5vh;
        }
        100% {
            width: 17vw;
            height: 17vw;
            margin-left: -45vw;
            margin-top: 0;
        }
    }
    @keyframes turntonextPr {
        0% {
            width: 55vw;
            height: 55vw;
            margin-left: 0;
            margin-top: -17.5vh;
        }
        100% {
            width: 17vw;
            height: 17vw;
            margin-left: 45vw;
            margin-top: 0;
        }
    }
    @keyframes showNext {
        80% {
            visibility: hidden;
            width: 17vw;
            height: 17vw;
            margin-left: 50vw;
            margin-top: 0%;
        }
        100% {
            visibility: visible;
            width: 17vw;
            height: 17vw;
            margin-left: 45vw;
            margin-top: 0%;
        }
        
    }
    @keyframes showPr {
        80% {
            visibility: hidden;
            width: 17vw;
            height: 17vw;
            margin-left: -50vw;
            margin-top: 0%;
        }
        100% {
            visibility: visible;
            width: 17vw;
            height: 17vw;
            margin-left: -45vw;
            margin-top: 0%;
        }
        
    }
    @keyframes bewhite {
        100% {
            fill: white;
        }
    }

    @keyframes showstars {
        0% { fill: var(--tomato); }
        25% { fill: white;}
        50% { fill: var(--tomato);}
        75% { fill: white;}
        100% { fill: var(--tomato);}

    }
    @keyframes hidestar {
        100% { fill: white;}
    }
    @keyframes addtocart {
        25% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            margin-top: -40vh;
            margin-left: 40vw;
        }
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
            width: 55vw;
            height: 55vw;
            visibility: visible;
            margin-left: 0;
            margin-top: -17.5vh;
        }
        50% {
            transform: rotate(180deg);
            width: 55vw;
            height: 55vw;
            visibility: visible;
            margin-left: 0;
            margin-top: -17.5vh;
        }
        100% {
            transform: rotate(360deg);
            width: 55vw;
            height: 55vw;
            visibility: visible;
            margin-left: 0;
            margin-top: -17.5vh;
        }
    }
    @keyframes stop {
            100%{ transform: rotate(0deg);}
    }
}