:root {
    --light: #FBE6D6;
    --tomato: tomato;
    --pink: #E9C8C3;
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-image: linear-gradient(var(--pink),white);
    }
    .back {
        position: absolute;
        margin-top: -40vh;
        width: 30px;
        height: 30px;
        margin-left: -40vw;
    }
    .buybox {
        position: absolute;
        margin-top: -40vh;
        width: 30px;
        height: 30px;
        margin-left: 40vw;
    }
    #title {
        position: absolute;
        color: tomato;
        font-size: 18vw;
        margin-top: -40vh;
        opacity: 0.75;
    }
    #box {
        width: 60vw;
        height: 80vh;
        background-image: linear-gradient(rgba(226,203,199,0) 20%,var(--light) 70%);
        border-radius: 50px;
    }
    .board {
        border-radius: 50%;
        background-image: url(./img/board.jpeg);
        background-size: cover;
        border: 1px solid black;
        position: absolute;
    }
    #board-m {
        width: 60vw;
        height: 60vw;
        margin-left: 0vw;
        margin-top: 10vw;
    }
    #board-p, #board-n {
        width: 20vw;
        height: 20vw;
    }
    #board-p {
        margin-left: 45vw;
    }
    #board-n {
        margin-left: -45vw;
        overflow: hidden;
    }
    .pizza {
        background-size: cover;
        border-radius: 50%;
        position: absolute;
    }
    #pizza-2 {
        width: 55vw;
        height: 55vw;
        margin-top: -17.5vh;
        background-image: url(./img/pizza/delcapo.png);
        z-index: 1;
    }
    #pizza-1, #pizza-3 {
        width: 17vw;
        height: 17vw;
        
    }
    #pizza-1 {
        margin-left: -45vw;
        background-image: url(./img/pizza/margarita.png);
    }
    #pizza-3 {
        margin-left: 45vw;
        background-image: url(./img/pizza/miracle.png);
        
    }
    #pizza-4 {
        background-image: url(./img/pizza/indiana.png);
    }
    #pizza-5 {
        background-image: url(./img/pizza/royal.png);
    }
    #container {
        width: 50vw;
        position: absolute;
        margin-top: 40vh;
        margin-left: 5vw;
    }
    #price {
        margin-left: 60%;
    }
    #pizzaIng {
        margin-top: 5vh;
    }
    #starbox {
        width: 45vw;
        position: absolute;
        margin-top: 2vh;
        margin-left: 5vw;
        height: 30px;
    }
    .stars {
        width: 30px;
        height: 30px;
        fill: var(--tomato);
    }
    #buy {
        position: absolute;
        margin-top: 40vh;
    }
    #addbutton {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: black;
        background-color: white;
        text-align: center;
        margin-right: 5vw;
    }
    #count {
        font-size: 55px;
        height: 100px;
    }
    .addto {
        width: 30px;
        height: 30px;
    }
    #clicknext {
        width: 17vw;
        height: 17vw;
        border-radius: 50%;
        position: absolute;
        margin-left: 45vw;
        background-color: red;
        opacity: 0;
        z-index: 5;
    }

    @keyframes turnp {
        100% {
            width: 55vw;
            height: 55vw;
            margin-left: 0;
            margin-top: -17.5vh;
        }
    }
    @keyframes turnm {
        100% {
            width: 17vw;
            height: 17vw;
            margin-left: -45vw;
            margin-top: 0;
        }
    }
    @keyframes showNext {
        80% {
            visibility: hidden;
            width: 17vw;
            height: 17vw;
            margin-left: 50vw;
        }
        100% {
            visibility: visible;
            width: 17vw;
            height: 17vw;
            margin-left: 45vw;
        }
        
    }
    @keyframes showstars {
        100% {
            fill: var(--tomato);
        }
    }
}