:root {
    --light: #FBE6D6;
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    #box {
        width: 60vw;
        height: 80vh;
        background-image: linear-gradient(white 20%,var(--light) 70%);
        border-radius: 50%;
    }
    .board {
        border-radius: 50%;
        background-image: url(./img/board.jpeg);
        background-size: cover;
        border: 1px solid black;
        position: absolute;
    }
    #board-m {
        width: 50vw;
        height: 50vw;
        margin-left: 5vw;
        margin-top: 10vw;
    }
    #board-p, #board-n {
        width: 20vw;
        height: 20vw;
    }
    #board-p {
        margin-left: 45vw;
    }
    #board-n {
        margin-left: -45vw;
        overflow: hidden;
    }
    .pizza {
        background-size: cover;
        border-radius: 50%;
    }
    #pizza-m {
        width: 45vw;
        height: 45vw;
        background-image: url(./img/pizza/indiana.png);
        margin-left: 2.5vw;
        margin-top: 2.5vw;
    }
    #pizza-p, #pizza-n {
        width: 17vw;
        height: 17vw;
        margin-left: 1.5vw;
        margin-top: 1.5vw;
        background-image: url(./img/pizza/indiana.png);
    }
}